div,button{font-style: italic;
    font-family: Georgia, Times, serif;}

.header{width: 100vw;
        font-size:30px;
        text-align: center;
        padding: 10px;
        justify-content: space-around;
        background-color: black;
        color:white;
        display: flex;
        position: fixed;
        box-shadow: 5px 5px 5px gray;
    }
.headName{width:60vw}
.headBtn{justify-content: space-between;
    width:40vw}
.flex_container{display: flex;
    justify-content: space-between;}
.sidebar a:hover{color:red}
.sidebar a{color:black;
    padding: 5px;
    display: block;
    font-weight: bold;
    text-decoration: none;}
.content a{text-decoration: none;
    font-weight: bolder;
    text-shadow: 1px 1px black;}
.btn{background-color: rgb(29, 29, 29);
    align-items: flex-start;
    border:0;
    color:white;
    font-weight: bold;
    box-shadow: 2px 3px 2px  black;
    border-radius: 10px;
    border:2px solid rgb(83, 83, 83);
    width:7vw;
    height:30px;}
.btn:hover{background-color:white;
    color:black;
    border:1px solid gray;
    text-shadow: 1px -1px 2px gray;
}
.sidebar{width:20vw;
    background:linear-gradient(100deg,rgb(177, 176, 176),rgb(20, 20, 20));
}
.content{width:70vw;
    align-items: flex-start;
    background:linear-gradient(100deg,white,gray,rgb(65, 64, 64));
}
.subcontent{display: block;
border-radius: 10px;
height:90px;
margin-bottom: 20px;

}
.content,.sidebar{height:750px;
    text-align: center;
    padding:10px;
    margin:10px;
    margin-top:80px;
    border-radius: 20px;
}
.sidebar,.content,.subcontent{box-shadow: 5px 5px 5px black;}
img{width:50px;
    height:50px;}
.google{
    text-shadow: 1px 1px 1px rgb(44, 44, 44);
    background: -webkit-linear-gradient(360deg,red,  yellow,green,blue);
    background-clip: text;
    -webkit-text-fill-color: transparent
}
.facebook{
    text-shadow: 1px 1px 1px darkblue;
    background: -webkit-linear-gradient(360deg,rgb(3, 3, 202),white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.yahoo{
    text-shadow: 1px 1px 1px purple;
    background: -webkit-linear-gradient(360deg,purple, white);
    background-clip: text;
    -webkit-text-fill-color: transparent
}
.amazon{
    text-shadow: 1px 1px 1px rgb(158, 66, 4);
    background: -webkit-linear-gradient(360deg,chocolate,white);
    background-clip: text;
    -webkit-text-fill-color: transparent;}
.youtube{
    text-shadow: 1px 1px 1px rgb(180, 34, 34);
    background: -webkit-linear-gradient(360deg,red,  white);
    background-clip: text;
    -webkit-text-fill-color: transparent;}
